<launch>
    <rosparam command="load" file="$(find blue_car)/settings.yaml"/>
    <!--<node pkg="blue_car" name="real_car_lane_follow" type="real_car_lane_follow" output="screen">
    </node>-->
    <node pkg="blue_car" name="lanefollower" type="slane_follow.py" output="screen">
    </node>
	<!-- <node pkg="blue_car" name="lanefollower2" type="lane_follow2.py" output="screen">
    </node> -->
    <!-- <node pkg="blue_car" name="circleDrawing" type="circle_drawing.py" output="screen">
    </node> -->
</launch>